/* aggiungere effetto hover alle icone vicino al volume  */
/* sistemare font size degli h nel main che scrolla */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* COMMON */
.text-grey{
    color: #717171;
}
.text-hover:hover{
    color: #d2d2d2;
    cursor:pointer;
}
.text-hover-underline:hover{
    text-decoration: underline;
    color: #d2d2d2;
    cursor: pointer;
}
.btn-scale:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.text-white{
    color: white;
}
.align-center{
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.marg-left15{
    margin-left: 15px;
}
.marg-right15{
    margin-right: 15px;
}
.pad-left15{
    padding-left: 15px;
}
.pad-right15{
    padding-right: 15px;
}
nav, .songs-content{
    float: left;
}

.active-left-bar{
    border-left: 3px solid #1db954;
    padding-left: 15px;
}
.not-active-left-bar{
    border: none;
    padding-left: 18px;
}

.active-bottom-bar{
    border-bottom: 2px solid #1db954;
}


/* ----- MAIN ----- */

main{
    height: calc(100vh - 85px);
    width: 100%;
    overflow: hidden;
}

/* NAV 25html*/
nav{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.logo-box{
    min-height: 85px;
    background-color: black;
}
.xs-logo{
    display: none;
}
.logo-box img{
    width: 150px;
}


/* mini-nav styling 33html*/
/* SVG styling */
.ul-mini-nav svg{
    width: 25px;
    margin-right: 5px; 
}
.ul-mini-nav svg path{
    fill: #aeaeae;
}
.ul-mini-nav a:hover svg path{
    fill: #d2d2d2;
}

.ul-mini-nav li{
    margin: 5px 0;
    height: 35px;
}

.ul-mini-nav li a{
    font-weight: 700;
    font-size: 15px;
}

/* add-playlist styling 75html*/
.playlist-title-container{
    height: 70px;
}
.add-playlist{
    flex-grow: 1;
    overflow: hidden;
    padding-top: 15px;
    min-height: 55px;
    /* TEST */
   /*  background-color: red; */
   background-color: black;
}
.add-playlist h3{
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
    font-weight: 800;
}

/* add btn styling 79html*/
.add-button a{
    padding-bottom: 10px;
    color: grey;
}
.add-button a:hover #plus-symbol{
    background-color: lightgray;
}
#plus-symbol{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: grey;
}

#plus-symbol span{
    font-size: 45px;
    font-weight: 400;
    color: black;
}
.add-button .add-text{
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}


/* add playlist 75html */
.ul-add-playlist{
    height: calc(100% - 70px);
    overflow-y: auto;
}

.ul-add-playlist li{
    padding-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
}
.ul-add-playlist li a{
    color: grey;
}


/* mini-footer style 99html*/
.mini-footer{
    /* TEST */
    /* background-color:slateblue; */
    background-color: black;

}

.install-container{
    padding-bottom: 4px;
    border-bottom: 2px solid grey;
}   
.install-container a{
    font-size: 11px;
    font-weight: 700;
    color: grey;
}
.install-container i{
    font-size: 14px;
    margin-right: 4px;
}
.user-profile{
    padding-top: 7px;
    padding-bottom: 4px;
}
.user-profile a{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.user-profile i{
    font-size: 20px;
    margin-right: 4px;
    background-color: grey;
    border-radius: 50%;
}
.profile-svg-box{
    border-radius: 50%;
    background-color: grey;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    justify-content: center;
    overflow: hidden;
}
.profile-svg-box img{
    width: 21px;
}


/* fixed custom bar 343html*/
.upgrade{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 85px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    background-color: rgba(0,0,0,.5);
}
.upgrade button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 220px;
    text-transform: uppercase;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 15px;
}
.upgrade button:hover{
    transform: scale(1.1);
    margin-right: 20px;
}

/* Songs content 118html*/
.songs-content{
    height: calc(100vh - 85px);
    width: calc(100% - 200px);
    padding-bottom: 30px;
    background-color: #141922;
    padding-top: 100px;
    overflow-y: auto;
}
/* song content ul 122html */
.songs-content ul{
    justify-content: center;
    flex-wrap: wrap;
}
.songs-content li{
    height: 21px;
    padding: 0 5px;
}
.songs-content ul li a{
    color: grey;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
}
.song-nav ul:first-child:hover{
    cursor: pointer;
}
.active-under::after{
    content: "";
    background-color:#1db954;
    height: 2px;
    width: 30%;
    margin: auto;
    display: block;
}
.songs-list{
    display: flex;
    justify-content: flex-start;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.songs-content .created-for h3,
.songs-content .created-for h5,
.songs-content .popular-artists h3,
.songs-content .popular-artists h5{
    padding-left: 15px;
}


/* layover effect on image */
.song-box .img-container{
    position: relative;
}
.show-layover{
   /*  max-width: 430px; */
    z-index: -1;
    /* height: 100%;
    width: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0,0,0,.4); */
}
.img-container:hover img{
    opacity: .2;
    cursor: pointer;
}
.circular-layover{
    border-radius: 50%;
}
.show-layover .fa-play-circle{
    font-size: 45px;
}
.img-container:hover .show-layover{
    z-index: 1;
    cursor: pointer;
}
/* END layover effects on image */


.song-box{
    width: calc(100% / 6);
    text-align: center;
}
.song-box h5{
    padding-top: 5px;
}
.padder-img{
    padding: 10px;
}
.song-box img{
    width: 100%;
    max-width: 430px;
}

.recently-played h3{
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
}


/* created-for 246html*/
.created-for h3,
.popular-artists h3{
    padding-top: 25px;
    padding-bottom: 15px;
    color: white;
}
.created-for h5,
.popular-artists h5{
    color: grey;
    padding-bottom: 25px;
}
.created-for .songs-list,
.popular-artists .songs-list{
    justify-content:flex-start;
}

/* popular artists 277html*/
.popular-artists img{
    border-radius: 50%;
}



/* ----- FOOTER ----- */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    /* TEST */
    background-color: #282828;
}

/* FOOTER LEFT SIDE 315html*/
.footer-song-img{
    width: 35px;
    height: auto;
}

.footer-left {
    padding-left: 15px;
    padding-right: 15px;
}
.footer-song-img{
    margin-right: 10px;
}
.footer-song-info h5{
    font-size: 12px;
    font-weight: 800;
    color: white;
}
.footer-song-info h6{
    font-size: 10px;
    color: grey;
    font-weight: 800;
    padding-right: 30px;
}
.fa-heart,
.fa-folder{
    color: grey;
}
.footer-left-icons{
    display: flex;
    flex-direction: column;
}


/* FOOTER CENTER 329html*/
.fa-play-circle{
    font-size: 24px;
    margin: 0 5px;
    color: white;
}

.fa-random,
.fa-step-backward,
.fa-step-forward,
.fa-redo-alt{
    font-size: 12px;
    margin: 8px;
    color: white;
}
.footer-center, 
.lowerside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-center{
    flex-grow: 1;
    flex-direction: column;
}
.footer-center .lowerside{
    width: 100%;
}
#song-duration{
    width: 40%;
    background-color: grey;
    height: 4px;
    margin: 10px 20px 5px 20px;
    border-radius: 15px;
  
}
#song-duration:hover,
#volume-bar{
    cursor: pointer;
}
#song-duration:hover .fa-circle{
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: white;
}
#song-time-passed{
    width: 30%;
    background-color: lightgrey;
    height: 4px;
    border-radius: 15px; 
    position: relative;
}
#song-duration:hover #song-time-passed{
    background-color: #1db954;
}

.lowerside h6{
    color: white;
    font-size: 11px;
}

/* FOOTER RIGHT 350html*/
.footer-right .fas{
    margin-right: 10px;
    font-size: 11px;
    color: white;
}

#volume-bar{
    width: 100px;
    height: 4px;
    background-color: grey;
    border-radius: 10px;
    margin-right: 15px;
}
#current-volume{
    position: relative;
    width: 20%;
    background-color: lightgrey;
    height: 4px;
    border-radius: 15px;
}
#volume-bar:hover .volume-circle{
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}


#volume-bar:hover #current-volume{
    background-color: #1db954;
}

.fa-circle{
   display: none;
}







/* ----- MEDIA QUERIES ----- */


/* MEDIA SOTTO i 768px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .song-box{
        width: calc(100% / 4);
    }
    .songs-list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 540px) and (max-width: 768px){
    .song-box{
        width: calc(100% / 2);
    }
    .songs-list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
/* media per le scritte nella navbar */
@media screen and (max-width: 768px){

}

@media screen and (max-width: 540px){
    .song-box{
        width: calc(100% / 2);
    }
    .songs-list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* changes in the navbar when under 540px */
    .ul-mini-nav li{
        padding: 0;
        justify-content: center;
    }
   
    .songs-content,
    .upgrade{
        width: calc(100% - 60px);
    }

    .pad-left15{
        padding: 0;
    }
    .center-xs{
        display: flex;
        justify-content: center;
    }
    nav{
        width: 60px;
    }
    .mini-nav{
        flex-grow: 1;
    }
    .xs-logo{
        display: inline-block;
        height: 30px;
        width: 30px;
    }   
    .logo-box{
        min-height: 45px;
    }
    .hidden-xs{
        display: none;
    }

    .ul-mini-nav li{
        border:none;
    }
    
    .flexed-mini-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .install-container{
        margin: 0;
        padding: 0;
        border: none;
    }
    .install-container i{
        margin: 0;
    }
    .profile-svg-box{
        margin: 0;
    }
    .install-container a{
        padding: 10px 0 5px 0;
    }
    .user-profile a{
        padding: 10px 0;
    }

    .footer-song-info h6 {
        padding-right: 10px;
    }
}


/* media appositamente creata per dare un aspetto decente su dispositivi mobili. ci sono le scrollbar */
@media screen and (max-width: 475px){
    main{
        width: 475px;
        height: 946px;
    }
    .songs-content{
        height: 946px;
    }
    footer{
        width: 475px;
    }
}





/* SCROLLBAR STYLING */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}